<h1>New Film</h1>

= bootstrap_nested_form_for(@film) do |f|
  = f.text_field :title
  = f.fields_for :galleries do |gallery_form|
    - if gallery_form.object.snapshot?
      = image_tag gallery_form.object.snapshot.url(:thumb)
    - else
      = gallery_form.file_field :snapshot unless gallery_form.object.snapshot?
    = gallery_form.link_to_remove do
      %span.glyphicon.glyphicon-remove-sign
  %p
    = f.link_to_add :galleries do
      %span.glyphicon.glyphicon-plus-sign


  = f.submit "Update"